@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  color: var(--preto-suave);
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: hidden;
}
.logo-container {
  width: 100vw;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card {
  background-color: #ffffffec;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 9px 11px 33px 5px rgba(0, 0, 0, 0.666);
  -webkit-box-shadow: 9px 11px 33px 5px rgba(0, 0, 0, 0.613);
  -moz-box-shadow: 9px 11px 33px 5px rgba(0, 0, 0, 0.585);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s;
  cursor: pointer;
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.card:active {
  outline: none;
}

.card:hover,
:focus {
  transform: translateY(-5px) scale(1.1);

  box-shadow: 9px 11px 33px 5px rgba(0, 0, 0, 0.545);
  -webkit-box-shadow: 9px 11px 33px 5px rgba(0, 0, 0, 0.587);
  -moz-box-shadow: 9px 11px 33px 5px rgba(0, 0, 0, 0.598);
}

.card p {
  text-align: center;
  font-weight: bold;
  color: rgb(21, 21, 21);
  text-transform: capitalize;
}
