.carrossel-placeholder {
  margin: 15px auto;
  height: 300px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color: #ffeb9d;
  padding: 0;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(130, 130, 130, 0.815);
}

@media screen and (min-width: 768px) {
  .carrossel-placeholder {
    height: 550px;
    width: 700px;
   
  }
}

@media screen and (min-width: 850px) {
  .carrossel-placeholder {
    height: 550px;
    max-width: 900px;
  }
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-slides {
  width: 100%;
  height: 100%;
  position: relative;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.img-wrapper.active {
  opacity: 1;
  z-index: 1;
}

/* Sombra interna com efeito vinheta */
.img-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 10px 10px 20px #ffffffad;
  pointer-events: none;
  z-index: 2;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
