/* styles.css */

@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --azul-mariano: #1f3a93;
  --dourado-suave: #e8bf39d5;
  --branco-puro: #ffffff;
  --cinza-claro: #f5f5f5;
  --vinho-liturgico: #6a1b1b;
  --preto-suave: #222222;
  --dourado-suave-mais: #b89c40a9;
  --dourado-suave-escuro: #8e7422d5;

  --font-h1: "Petit Formal Script", cursive;
}
html,
body {
  overflow-x: hidden;
   scroll-behavior: smooth;
}
.header {
  width: 100%;
  height: 130px;

  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.monstrance-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  filter: drop-shadow(0 0 10px #ffd9009b) drop-shadow(0 0 20px #ffcc00ad)
    drop-shadow(0 0 30px #ff990092);
  animation: pulseLight 2s infinite ease-in-out;
}

.title {
  font-family: "Charm", cursive;
  font-size: 3.5rem;
  padding-top: 30px;

  color: var(--branco-puro);
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);

  text-decoration: underline 1.5px var(--dourado-suave);
  text-underline-offset: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
    letter-spacing: 1px;
  }

  .monstrance-image {
    width: 50px;
  }

  .header {
    padding: 15px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .monstrance-image {
    width: 40px;
  }
}

@keyframes pulseLight {
  0%,
  100% {
    filter: drop-shadow(0 0 10px #ffd9004f) drop-shadow(0 0 15px #ffcc003e)
      drop-shadow(0 0 30px #ff9900);
  }
  50% {
    filter: drop-shadow(0 0 20px #ffd90060) drop-shadow(0 0 30px #ffcc002c)
      drop-shadow(0 0 40px #ffba523c);
  }
}


.headerSegundo {
  z-index: -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  color: white;
  font-style: oblique;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.248),
      rgb(0, 0, 0)
    ),
    url(../img/viaSacra/fundoheaderdois.jpg);
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;

  h1 {
    line-height: 38px;
    font-size: 2.3em;
    text-align: justify;

    margin-top: 20px;
    width: 80%;
    max-width: 500px;
  }

  p {
    max-width: 500px;
    color: rgb(222, 222, 222);
    width: 80%;
    line-height: 22px;
    text-align: justify;
    margin-top: 20px;
    font-size: 1.2em;
  }
}
